<header>
    <div class="logoContainer">
        <a (click)="navigateTo('albums')"><img src="../../assets/logo.png"></a>
    </div>

    <nav>
        <div class="linksContainer">
            <div>
                <a (click)="navigateTo('albums')" class="link" [ngClass]="{'selected': linkAlbums}">albums</a>
            </div>
            <div>
                <a (click)="navigateTo('artists')" class="link" [ngClass]="{'selected': linkArtists}">artists</a>
            </div>
            <div>
                <form #searchForm="ngForm">
                    <input class="inputRegular overHidden" type="text" [placeholder]="'Search ' + search"
                        (keyup)="searchItem(searchForm.value.text)" (focus)="onFocus()" (blur)="onBlur()" name="text"
                        ngModel autocomplete="off">
                </form>
                <div class="searchList scroll" *ngIf="showSearchList">
                    <div *ngIf="search == 'artist'">
                        <a *ngFor="let artist of arrDisplayArtists" (mousedown)="selectItem('artists', artist?._id)">
                            {{artist?.name}}</a>
                    </div>
                    <div *ngIf="search == 'album'">
                        <a *ngFor="let album of arrDisplayAlbums" (mousedown)="selectItem('albums', album?._id)">
                            {{album?.title}}</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</header>