<main>
    <h2 *ngIf="album === null && action !== 'new'">Album not found</h2>
    <div *ngIf="(album === null && action === 'new') || album !== null">
        <h2>Album</h2>
        <div class="actionButtons" *ngIf="action != 'newAlbum'">
            <a *ngIf="action == 'edit'" (click)="changeView('view')">Switch to view</a>
            <a *ngIf="action == 'view'" (click)="changeView('edit')">Switch to edit</a>
        </div>
    </div>
    <p *ngIf="album === null && action === 'new'">There are no artists on our database. Please, save an artist before
        uploading his albums.</p>

    <form [formGroup]="albumForm" (ngSubmit)="submitAlbum(albumForm.value)" *ngIf="formInitialized">
        <div class="infoImage">
            <img [src]="albumForm.value.coverUrl.length > 0 ? albumForm.value.coverUrl : '../../assets/album.svg'">
        </div>

        <div class="info">
            <label>Title</label>
            <input class="inputRegular" type="text" placeholder="Title" formControlName="title">
            <p class="error" *ngIf="albumForm.controls.title.errors?.required && albumForm.controls.title.touched">
                Title field must be filled</p>

            <label>Artist</label>
            <input class="hidden" type="text" formControlName="artistId">
            <input class="inputRegular overHidden" type="text" placeholder="Search..."
                (keyup)="searchArtist(albumForm.value.artistName)" (focus)="onFocus()" (blur)="onBlur()"
                formControlName="artistName">
            <div class="searchList scroll" *ngIf="showSearchList">
                <a *ngFor="let artist of arrDisplayArtists" id="artist?._id"
                    (mousedown)="selectArtist(artist?._id, artist?.name)">
                    {{artist?.name}}</a>
            </div>
            <p class="error" *ngIf="showArtistAlert">
                The artist must be on our database.<br>You must add the artist to the database before
                saving
                the allbum.</p>
            <p class="error"
                *ngIf="albumForm.controls.artistName.errors?.required && albumForm.controls.artistName.touched">
                Artist field must be filled.</p>

            <label>Cover Url</label>
            <input class="inputRegular" type="text" placeholder="Cover Url" formControlName="coverUrl">
            <p class="error"
                *ngIf="albumForm.controls.coverUrl.errors?.required && albumForm.controls.coverUrl.touched">
                Cover field must be filled.</p>

            <label>Year</label>
            <input class="inputRegular" type="text" placeholder="Year" formControlName="year">
            <p class="error" *ngIf="albumForm.controls.year.errors?.required && albumForm.controls.year.touched">
                Year field must be filled.</p>
            <p class="error" *ngIf="albumForm.controls.year.touched && albumForm.controls.year.errors?.yearvalidator">
                The year must be newer older than
                {{ albumForm.controls.year.errors.yearvalidator.minyear }} and newer
                {{ albumForm.controls.year.errors.yearvalidator.maxyear }}.</p>

            <label>Genre</label>
            <input class="inputRegular" type="text" placeholder="Genre" formControlName="genre">
            <p class="error" *ngIf="albumForm.controls.genre.errors?.required && albumForm.controls.genre.touched">
                Genre field must be filled.</p>

            <div *ngIf="action != 'new'">
                <label>Created</label>
                <input class="inputRegular" type="text" [value]="album?._createdAt" disabled>

                <label>Edited</label>
                <input class="inputRegular" type="text" [value]="album?._updatedAt" disabled>
            </div>
        </div>

        <div class="btnContainer" *ngIf="action != 'view'">
            <input class="btnNew" type="submit" [value]="'Save ' + (action == 'new' ? 'album' : 'changes')"
                [disabled]="!albumForm.valid">
        </div>

    </form>
</main>