.viewPort {
    display: flex;
    flex-direction: column;
}
.navegador {
    width: 100%;
    flex: 0 0 80px;
    position: fixed;
    z-index: 999;
}
.cuerpo {
    margin-top: 80px;
    width: 100%;
    flex: 1 0 0;
}
@media (max-width: 600px) {
    .navegador {
        flex: 0 0 61px;
    }
}